.bg{
    background-image: url('https://img.freepik.com/free-photo/assortment-cinema-supplies_23-2147803976.jpg');
    width: 100%;
    padding: 100px;
    background-size: cover;
    height: 100vh;
}
.con{
    margin: 20px;
    padding-top: 80px;
    background-color: transparent;
    border-radius: 16px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    font-weight: bold;
    color: white;
}
.btn:hover{
    background-color: green;
    text-decoration: underline;
}
.hea{
    font-family: 'Roboto';
    text-align: center;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}